/* iPhone 14 */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    * {
        margin: 0;
    }

    a {
        cursor: pointer;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        height: 100vh;
        gap: 56px;
    }

    input {
        border: 2px solid black;
        border-radius: 10px;
    }

    button {
        cursor: pointer;
    }

    .measurement-row {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    

    .actual-date-div {
        display: flex;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #summarySection {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .health-stats-goal {
        display: flex;
        justify-content: flex-end;
        gap: 6px;
        margin: 8px 0;
    }

    .month-div {
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 16px;
    }

    th,td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

    #actualMonthStats {
        width: 100%;
    }
}