* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

input {
    border: 2px solid black;
    border-radius: 10px;
}

button {
    cursor: pointer;
}

.body-measurements {}

.measurement-row {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
}

.actual-date-div {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}