body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 8px
}

.input-fields {
    display: flex;
    flex-direction: column;
    width: 28%;
    gap: 32px;
    border: 2px solid black;
    background-color: rgb(234, 223, 208);
    padding: 32px;
}

.numbers-input-field {
    display: flex;
    flex-direction: column;
}

.btn {
    cursor: pointer;
    border-radius: 10px;
    height: 32px;
}

.btn:hover {
    background-color: grey;
}

.months {
    margin-top: 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 32px;
}

.months:hover {
    color: rgb(195, 28, 28);
}